body { 
    font-family: sans-serif; 
    font-size: 12px; 
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.matchcenter-field {
    background-image: url(../img/field-bg.png);
    width: 400px;
    height: 500px;
    position: relative;
}

.matchcenter-field .player {
    position: absolute;
    border: 1px solid #38870f;
    display: none;
    -moz-box-shadow: 1px 1px 2px #6a9627;
    -o-box-shadow: 1px 1px 2px #6a9627;
    -webkit-box-shadow: 1px 1px 2px #6a9627;
    box-shadow: 1px 1px 2px #6a9627;
}

.matchcenter-field .player-nr {
    width: 14px;
    float: left;
    color: #5f9610;
    font-weight: bold;
    text-shadow: 1px 1px 0px #a8ce36;
    padding: 4px 4px;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #38870f;
    border-top: 1px solid #8dc639;
    background: -moz-linear-gradient(top, #7db42e, #8cc539);
    background: -webkit-gradient(linear, center top, center bottom, from(#7db42e), to(#8cc539));
    background: -o-linear-gradient(top, #7db42e, #8cc539);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db42e', endColorstr='#8cc539');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db42e', endColorstr='#8cc539')";
    background: linear-gradient(top, #7db42e, #8cc539);
}

.matchcenter-field .player-name {
    width: 65px;
    color: white;
    float: left;
    font-weight: bold;
    text-shadow: 1px 1px 0px #61871c;
    padding: 4px 6px;
    font-size: 12px;
    border-top: 1px solid #beda5a;
    background: -moz-linear-gradient(top, #adcf35, #8ac439);
    background: -webkit-gradient(linear, center top, center bottom, from(#adcf35), to(#8ac439));
    background: -o-linear-gradient(top, #adcf35, #8ac439);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcf35', endColorstr='#8ac439');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcf35', endColorstr='#8ac439')";
    background: linear-gradient(top, #adcf35, #8ac439);
}

.matchcenter-field .player-yellowcard {
    width: 8px;
    height: 12px;
    border: 1px solid #797900;
    position: absolute;
    top: -8px;
    right: 5px;
    display: none;
    background: -moz-linear-gradient(top, #fdf875, #e8eb00);
    background: -webkit-gradient(linear, center top, center bottom, from(#fdf875), to(#e8eb00));
    background: -o-linear-gradient(top, #fdf875, #e8eb00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf875', endColorstr='#e8eb00');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf875', endColorstr='#e8eb00')";
    background: linear-gradient(top, #fdf875, #e8eb00);
}

.matchcenter-field .player-redcard {
    width: 8px;
    height: 12px;
    border: 1px solid #a50000;
    position: absolute;
    top: -8px;
    right: 2px;
    display: none;
    background: -moz-linear-gradient(top, #fd7575, #eb0000);
    background: -webkit-gradient(linear, center top, center bottom, from(#fd7575), to(#eb0000));
    background: -o-linear-gradient(top, #fd7575, #eb0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd7575', endColorstr='#eb0000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd7575', endColorstr='#eb0000')";
    background: linear-gradient(top, #fd7575, #eb0000);
}
